﻿@{ ViewData["Title"] = "Issues"; }

<div class="row">
    <div class="col-md-4">
        @{ Html.BeginForm(); }
        <div class="form-group">
            @Html.Label("repository", "Repository")
            @Html.TextBox("repository", null, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-block btn-success">Submit</button>
        @{ Html.EndForm(); }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="response"></div>
    </div>
</div>