@{ Layout = null; }

<table class="table">
    <thead>
        <th>Issue</th>
        <th>Created</th>
        <th>Updated</th>
    </thead>
    <tbody>
    @foreach (var issue in Model)
    {
        <tr>
            <td><a href="@issue.HtmlUrl">@issue.Title</a></td>
            <td>@issue.CreatedAt.ToString("dd/MM/yyyy @ HH:MM")</td>
            <td>@issue.UpdatedAt.ToString("dd/MM/yyyy @ HH:MM")</td>
        </tr>
    }
    </tbody>
</table>